<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платформа обмена</title>
</head>
<body>
    <h1>Объявления</h1>
        <form method="get" action="{% url 'ads:ad_list' %}">
            <label for="q">Поиск:</label>
            <input type="text" name="q" id="q" placeholder="Ключевые слова..." value="{{ request.GET.q|default:'' }}">
            <label for="category">Категория:</label>
            <input type="text" name="category" id="category" placeholder="Название категории..." value="{{ request.GET.category|default:'' }}">
            <label for="condition">Состояние:</label>
            <input type="text" name="condition" id="condition" placeholder="Новый, б/у..." value="{{ request.GET.condition|default:'' }}">
            <button type="submit">Найти</button>
        </form>
    <a href="{% url 'ads:ad_create' %}">Создать новое объявление</a>
    <a href="{% url 'ads:exchange_proposal_list' %}">Открыть запросы</a> <hr>

    {% if page_obj %}
        {% for ad in page_obj %}
            <div class="ad-item">
                <h3>{{ ad.title }}</h3>
                <p>{{ ad.description|truncatewords:30 }}</p>
                <div>
                    Автор: {{ ad.user.username }} |
                    Категория: {{ ad.category }} |
                    Состояние: {{ ad.condition }} |
                    Опубликовано: {{ ad.created_at|date:"d.m.Y H:i" }}
                </div>
                {% if ad.image_url %}
                    <img src="{{ ad.image_url }}" alt="{{ ad.title }}">
                {% endif %}
                {% if request.user.is_authenticated and ad.user == request.user %}
                        <a href="{% url 'ads:ad_update' pk=ad.pk %}">Редактировать</a>
                        <a href="{% url 'ads:ad_delete' pk=ad.pk %}">Удалить</a>
                        {% else %}
                            <a href="{% url 'ads:exchange_proposal_create' ad_receiver_pk=ad.pk %}">Предложить обмен</a>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Пока нет ни одного объявления.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if current_query_params %}&{{ current_query_params }}{% endif %}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if current_query_params %}&{{ current_query_params }}{% endif %}">следующая</a>
            {% endif %}
        </span>
    </div>
</body>
</html>